<section class="login-page">
<div class="wrapper">
    <form class="form-signin" action="/auth/login-band" method="POST" id="form-container">       
      <h2 class="form-signin-heading">Login</h2>
      <input class="form-control" id="username" type="text" name="username" placeholder="JonSnow">
      <input class="form-control" id="password" type="password"  name="password" placeholder="Password"/>      
      <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="button full" type="submit">Login</button>
      
      <br>
      <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup-band">Signup</a>
    </p>
    </form>
  </div>
</section> 