<div class="landing-header">
<a href="/auth/login-band">
    <div class="landing-half-header header-left">
      <h1>Backstage</h1>
      <h2>Zona exclusiva músicos</h2>
    </div>
</a>
<a href="/auth/login-band">
    <div class="landing-half-header header-right">
      <h1>Promotores</h1>
      <h2>Conoce a los mejores músicos para tu evento</h2>
    </div>
</a>
</div>
